.myclass{
    color: black;
    background-image: url('http://3.bp.blogspot.com/-Eawqt3rl-Kw/UVVHRMss4FI/AAAAAAAACiI/8BxWSi68iTg/s1600/Cool_Backgrounds_Pics_black_white_kitties_wallpaper.jpg');
}
.divclass{
	background-color:whitesmoke;
	text-align: center;
    max-width: 600px;
    margin: 100px 500px;
    border: 1px solid orange;
}
.myface{
    display: block;
    margin: auto;
    border-radius: 50%;
    height:150px;
    width: 150px;
    margin-top: -80px;
    border: 1px solid orangered;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin: auto;    
}

hr{
    width: 50%;
    height: 5px;
    background-color:red;
    border:1px solid red;
}

.my-form{
	font-family: "Lato";
	max-width: 400px;
    padding: 10px;
    margin:auto;
    
	border: 1px solid black;
}

/*1. add margin spacing for top & bottom: 20px */
.my-form-group{
	margin: 20px;
}

/*This selector refers to ALL <input> */
input[type]{
	/*2. set the width to fill container: 100% */
	/*3. increase font size to: 1.5rem */
	/*4. increase height to: 2rem */
	width: 100%;
	font-size: 1.5rem;
	height: 2rem;

	
}

/*Select multiple selectors with a comma , */
/*input[type=text] selects <input type="text"> */
input[type=text], 
input[type=email]{

	/*5. remove existing border to: none*/
	/*6. create an underline effect by setting a new border-bottom to: 1px solid black*/
	border:none;
	border-bottom: 1px solid black;

}

/*input[type]:focus is a state of being used */
input[type=text]:focus, 
input[type=email]:focus{

	/*7. remove the default glow with outline:none */
	/*8. set the border and text color to: orangered*/
	outline: none;
	border: 1px dotted orangered;
	color: orangered;


}

/*submit button selector*/	
input[type=submit]{
	
	height: 3rem;
	border:2px solid darkviolet;
	background-color: black;
	color: white;
	font-size: 2rem;
	/*9. increase the button height to: 3rem (double font size)*/
	/*10. remove the bezel with border:none*/
	/*11. set background color to: black and text to: white */
	



}

/*hovering state, similar to a:hover */
input[type=submit]:hover{
	/*12. set background color to: orangered */
	background-color: orangered;
}

/*this optional style removes the yellow background of chrome's autofill*/
input[type]:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
}

table{
    margin:auto;
}
.my-link{
	text-align: center;
}